*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif ;
    background-color: black;
}
input{
    display: none;
}
.container{
    width: 100%;
    text-align: center;
}
.head {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 3rem;
    margin-top: 2rem;
}
.navbar-brand {
    position: absolute;
    left: 1rem;
}
h1{
    color: white;
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 0 auto;
}
h1::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color:white;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}

.top-content{
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    align-items: center;
    border-radius: 5px;
    display: flex;
    border: 1px solid white;
}
h3{
    height: 100%;
    line-height: 60px;
    padding: 0 50px;
    color: white;
}
label{
    display: inline-block;
    height: 100%;
    padding: 0 10px;
    color: white;
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    cursor: pointer;
    transition: color .5s;
}
label:hover{
    color: rgb(97, 93, 93);
}
.photo-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
.pic{
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
    transition: .5s;
}
.pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}
.pic:before{
    content: "PHOTO GALLERY";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
}
.pic:after{
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height:0;
    transition: .3s;
    background-color: rgba(105, 100, 100, 0.4);
}
.pic:hover::after{
    height: 100%;
}
.pic:hover::before{
    margin-top: 0;
    opacity: 1;
}
#check1:checked ~ .container .photo-gallery .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}
#check2:checked ~ .container .photo-gallery .family{
    opacity: 1;
    transform: scale(1);
    position: relative;
}
#check2:checked ~ .container .photo-gallery .children{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}
#check2:checked ~ .container .photo-gallery .place{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}


#check3:checked ~ .container .photo-gallery .children{
    opacity: 1;
    transform: scale(1);
    position: relative;
}
#check3:checked ~ .container .photo-gallery .family{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}
#check3:checked ~ .container .photo-gallery .place{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}


#check4:checked ~ .container .photo-gallery .place{
    opacity: 1;
    transform: scale(1);
    position: relative;
}
#check4:checked ~ .container .photo-gallery .children{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}
#check4:checked ~ .container .photo-gallery .family{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}